// Colors
// ---------------------------------
// Default
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
$color-charcoal: #484848;
$color-cerulean-blue: #316dc2;
$color-endeavour: #275699;
$color-alabaster: #f0efe9;
$color-mischka: #a9afb7;
$color-wild-watermelon: #ff5e66;
$color-black-pearl: #0d1d33;

// Overlay
// ---------------------------------
$modal-overlay: rgba(13, 29, 51, 0.4);
$picture-overlay: rgba(49, 109, 194, 0.2);

// Gradient
// ---------------------------------

// Typography
// ---------------------------------
$fz-default: 16px;
$ff-manrope: "Manrope", "Arial", sans-serif;

// Animation
// ---------------------------------
$tf-default: ease-in;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------
$vp-320: 320px;
$vp-768: 768px;
$vp-1199: 1199px;
$vp-1200: 1200px;
$vp-1440: 1440px;

// Retina
// ---------------------------------
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Padding
// ---------------------------------
$padding-desktop: 15px;
$padding-tablet: 45px;
$padding-mobile: 15px;
// ---------------------------------
